/* Header Box */
.header-box {
    background: skyblue;
}
/* Jumbotron Styles */
.jumbotron {
    background: skyblue;
    text-align: center;
    position: relative;
}
.display-4 {
    color: skyblue;
    font-weight:  bold;
}
.lead {
    color: rgb(82, 124, 120);
}
.row {
    background: skyblue;
    text-align: center;
    display: inline-block;
}
.button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    border: solid 2px rgb(82, 124, 120);
    color: rgb(82, 124, 120);
}
.button:hover {
    color: orange;
    background: black;
}
.btn-0 {
    width: 115px;
    height: 50px;
}
.btn-equal {
    background: rgb(146, 26, 38);
    border: solid 2px whitesmoke;
    color: whitesmoke;
}
.btn-clear {
    width: 240px;
    height: 50px;
    background: lightgray;
}
.btn-operator {
    background: rgb(82, 124, 120);
    color: whitesmoke;
    border: solid 2px whitesmoke;
}
#equation-titleblock {
    text-align: left;
    margin-bottom: 0px;
}
p:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: lightgray;
    font-size: 15px;
    font-style: italic;
  }
.equation-display {
    background: whitesmoke;
    width: 115px;
    font-size: 20px;
    border: solid 2px  rgb(82, 124, 120);
    border-radius: 10px;
    width: 240px;
    margin-top: 0px;
}
.solution-display {
    background: whitesmoke;
    width: 115px;
    font-size: 20px;
    border: solid 2px  rgb(82, 124, 120);
    border-radius: 10px;
    width: 240px;
    margin-top: 0px;
}
#info-number {
    color:rgb(146, 26, 38);
    font-weight: bold;
}
#info-box {
    margin-bottom: 10px;
    height: 25px;
}